@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-black.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
}

/*.visually-hidden {*/
/*  position: absolute;*/
/*  width: 1px;*/
/*  height: 1px;*/
/*  margin: -1px;*/
/*  border: 0;*/
/*  padding: 0;*/
/*  white-space: nowrap;*/
/*  clip-path: inset(100%);*/
/*  clip: rect(0 0 0 0);*/
/*  overflow: hidden;*/
/*}*/

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-pink {
  color: #FCFCFC;
  background-color: #FF2F64;
}

.navigation{
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.navigation-user {
  width: 419px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.main-index {
  background-color: #FEAFC3;
  color: #2D3440;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.main-header-logo {
  display: block;
  margin-right: 16px;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

.gallery-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.gallery-description {
  font-size: 18px;
  line-height: 24px;
}

.gallery-social-list {
  list-style: none;
}

.promo-container {
  display: flex;
  justify-content: space-between;
}

.promo-action-wrapper {
  width: 570px;
}

.promo-action-wrapper {
  background-color: #FF7799;
}

.promo-actions-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.product-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.product-item {
  background-color: #FCFCFC;
  width: 270px;
}

.product-link {
  text-decoration: none;
  color: #2D3440;
}

.assortment-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.product-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-description {
  color: #565C66;
  text-align: center;
}

.advantages {
  background-color: #FCFCFC;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.advantages-description {
  color: #565C66;
}

.news-container {
  display: flex;
  justify-content: space-between;
}

.news {
  background-color: #FCFCFC;
  width: 570px;
}

.news-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.news-sign {
  color: #565C66;
  line-height: 20px;
}

.subscription {
  background-color: #FCFCFC;
  width: 570px;
}

.subscription-description {
  color: #565C66;
}

.appointment {
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
}

.appointment-sign {
  width: 356px;
}

.appointment-wrapper {
  width: 500px;
}

.appointment-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.appointment-description {
  color: #565C66;
}

.form-label {
  font-weight: 700;
}

.contacts {
  background-color: #FCFCFC;
}

.contacts-wrapper {
  width: 343px;
}

.contacts-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  color: #2D3440;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-time-description {
  line-height: 20px;
}

.main-footer {
  background-color: #FEAFC3;
  color: #2D3440;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.footer-social-list {
  list-style: none;
  width: 104px;
  margin-right: 300px;
}

.useful-links-list {
  list-style: none;
  width: 356px;
  margin-right: 200px;
}

.useful-links-link {
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
  width: 193px;
}

/*catalog*/

.catalog-header {
  background-color: #FEAFC3;
}

.navigation-link-current {
  background-color: #FF2F64;
  color: #FCFCFC;
}

.main-inner {
  background-color: #FEAFC3;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.catalog-filter {
  width: 807px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.sort-group {
  width: 196px;
}

.price-group {
  width: 196px;
}

.sugar-group {
  width: 367px;
}

.filler-group {
  width: 596px;
}

.sugar-list {
  display: flex;
}

.filler-list {
  display: flex;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-list .product-item {
  margin-right: 30px;
}

.catalog-list .product-item:nth-child(4n) {
  margin-right: 0;
}

.pagination-wrapper {
  display: flex;
}

.pagination-show-more {
  margin-left: 494px;
}

.pagination {
  width: 200px;
  display: flex;
  margin-left: auto;
}

.pagination-link {
  color: #2D3440;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination-current {
  background-color: #FCFCFC;
}

.pagination-disabled {
  background-color: #595959;
}





