@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-black.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1366px;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*buttons*/

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 12px 32px;
  color: #2D3440;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  background-color: #FCFCFC;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button:focus {
  outline: 2px solid #2D3440;
}

.button:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
}

.button-pink {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button-pink:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

.button-pink:focus {
  outline: 2px solid #2D3440;
}

.button-pink:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
}

/*header*/

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 98px;
}

.navigation-list {
  width: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.navigation-user {
  width: 500px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
}

.navigation-link-current {
  background-color: #FF2F64;
  color: #FCFCFC;
}

.navigation-link:hover, .navigation-link:focus {
  color: #FF2F64;
}

.navigation-user .navigation-link {
  min-height: 15px;
  min-width: 15px;
}

.catalog-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog-navigation-link:focus {
  padding: 6px 14px;
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}

.catalog-navigation-link:active {
  background-color: #FCFCFC;
}

.main-header-logo {
  display: block;
  margin-right: 16px;
}

/*popover*/

.navigation-link:hover ~ .popover {
  display: block;
}

.navigation-item {
  position: relative;
}

.popover {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  width: 324px;
  padding: 48px;
  background: #FCFCFC;
  border-radius: 4px;
  min-height: 48px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12); ;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.auth-form .field {
  margin: 0 0 16px 0;
}

.auth-form-button {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-buttons-group {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 113px 130px;
  gap: 23px;
}

.popover-links-group {
  display: flex;
  flex-direction: column;
}

.auth-links {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.popover-cart {
  width: 192px;
  vertical-align: middle;
  text-align: center;
}

.cart-title {
  margin: 0;
}

.popover-search {
  padding: 24px 16px;
}

.popover-search .field {
  margin: 0;
}

/*cart-list*/

.popover-catalog-cart {
  width: 345px;
}

.cart-image {
  width: 46px;
  border-radius: 50%;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 46px 140px 80px 10px;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}

.cart-item:last-child {
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
}

.cart-item-group {
  display: flex;
  flex-direction: column;
}

.cart-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  margin: 0;
}

.cart-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  margin: 0;
}

.cart-item-price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;

}

.cart-item-button {
  border: none;
  background: transparent;
}

.order-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

/*main-container*/

.main-index, .main-footer, .catalog-header, .main-inner {
  background-color: #FEAFC3;
  /*background-color: #FCC850;*/
  /*background-color: #69A9FF;*/
  color: #2D3440;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/*gallery*/

.gallery {
  margin-bottom: 80px;
}

.gallery-container {
  display: flex;
}

.gallery-wrapper {
  width: 470px;
  padding: 136px 0 138px 70px;
}

.gallery-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 24px;
}

.gallery-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 48px 0;
}

/*slider*/

.gallery-slider {
  display: flex;
  align-items: center;
}

.slider-current {
  position: relative;
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
  margin-right: 56px;
}

.slider-image {
  display: block;
  position: absolute;
  top: -100px;
  width: 290px;
  right: 10px;
}

.slide-next-first, .slide-next-second {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 203, 216, 0.4);
  border-radius: 50%;
  margin-right: 41px;
}

.slide-next-second {
  margin-right: 0;
}

.slider-next-image {
  width: 80px;
  display: block;
  position: absolute;
  opacity: 0.5;
  top: -20px;
  right: 10px;
}

.slider-next-image-first{
  width: 100px;
  top: -40px;
  right: 0;
}

/*slider arrows*/

.slider-buttons-wrapper {
  position: absolute;
  top: 50%;
  left: -19px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.slider-button {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 1px solid #FCFCFC;
  border-radius: 50%;
}

.slider-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #FCFCFC;
}

.slider-button:hover {
  background-color: #FCFCFC;
}

.slider-button:focus {
  outline: 1px solid #2D3440;
}

.slider-button:focus .slider-icon {
  color: #2D3440;
}

.slider-button:hover .slider-icon {
  color: #2D3440;
}

/*pagination*/

.slider-pagination-container {
  display: flex;
  justify-content: space-between;
}

.slider-pagination-list {
  display: flex;
  list-style: none;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  margin-right: 8px;
}

.slider-pagination-button-current {
  background-color: #FCFCFC;
}

.slider-pagination-button:hover {
  outline: 1px solid #FCFCFC;
}

.slider-pagination-button:focus {
  outline: 1px solid #2D3440;
}

/*social*/

.gallery-social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.gallery-social-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-button {
  display: block;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.gallery-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button:hover {
  background-color: #2D3440;
}

.social-button:focus {
  outline: 1px solid #2D3440;
}

/*promo*/

.promo-actions {
  margin-bottom: 80px;
}

.promo-actions-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 0 56px 0;
}

.promo-container {
  display: flex;
  justify-content: space-between;
}

.promo-action-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px;
  width: 490px;
  border-radius: 16px;
  background-color: #FF7799;
}

.promo-action-wrapper:first-child {
  background-image: url("../assets/bubble-promo.png");
  background-repeat: no-repeat;
  background-size: 189px 248px;
  background-position: bottom 0 right 0;
}

.promo-action-wrapper:last-child {
  background-image: url("../assets/boba.png");
  background-repeat: no-repeat;
  background-size: 248px 189px;
  background-position: bottom 10px right 0;
}

.promo-action-wrapper:nth-child(1) {
  margin-right: 30px;
}

.button-gift {
  width: 112px;
  margin-top: auto;
}

.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 16px 0;
}

.promo-description {
  width: 320px;
  margin: 0 0 32px 0;
}

/*assortment*/

.assortment {
  margin-bottom: 80px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}

.product-item {
  background-color: #FCFCFC;
  width: 190px;
  padding: 0 40px 30px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 51px;
}

.price-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto
}

.product-link {
  text-decoration: none;
  color: #2D3440;
}

.product-image {
  border-radius: 50%;
  display: block;
  width: 168px;
  margin: -50px auto 0 auto;
}

.assortment-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 0 56px 0;
}

.product-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 16px 0 8px 0;
}

.product-description {
  color: #565C66;
  text-align: center;
  margin: 0 0 16px 0;
}

.product-button {
  position: relative;
  width: 24px;
  height: 24px;
  background: #FF2F64;
  border-radius: 26px;
  padding: 8px;
}

.product-button:hover {
  background-color: #FCFCFC;
  outline: 1px solid #FF2F64;
}

.product-button:hover .product-icon {
  fill: #2D3440;
}

.product-button:focus {
  outline: 1px solid #2D3440;
}

.product-button:disabled {
  background: #B9B9B9;
}

.product-button:disabled .product-icon {
  fill: #565C66;
}

.product-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: white;
}

.product-price {
  width: 100px;
  margin: auto 0;
}

/*advantages*/

.advantages {
  background-color: #FCFCFC;
  margin-bottom: 80px;
  padding: 56px 40px;
  border-radius: 16px;
  border: 24px solid #ffe5b6;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 0 56px 0;
}

.advantages-item {
  display: flex;
}

.advantages-description {
  color: #565C66;
  margin: 0 0 40px 0;
  width: 440px;
}

.advantages-item::before {
  content: "";
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border: 2px solid black;
  border-radius: 50%;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-leaf::before {
  background-image: url("../assets/icons/leaf.svg");
}

.advantages-fruits::before {
  background-image: url("../assets/icons/fruits.svg");
}

.advantages-coffee::before {
  background-image: url("../assets/icons/coffee.svg");
}

.advantages-delivery::before {
  background-image: url("../assets/icons/delivery.svg");
}

/*news and subs*/

.news-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news {
  background-color: #FCFCFC;
  width: 510px;
  padding: 30px;
  border-radius: 16px;
  background-image: url("../assets/background-small.jpg");
}

.news-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.news-sign {
  color: #565C66;
  line-height: 20px;
  margin: 0 0 12px 0;
}

.subscription {
  background-color: #FCFCFC;
  width: 498px;
  padding: 30px;
  border-radius: 16px;
  border: 6px solid #FFCBD8;
}

.subscription-description {
  color: #565C66;
  margin: 0 0 40px 0;
}

.subscription-button {
  margin-left: 24px;
}

/*delivery*/

.appointment {
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  border-radius: 16px;
  padding: 64px;
  background-image: url("../assets/background-middle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.appointment-sign {
  width: 356px;
  margin: 100px 90px 100px 40px;
}

.appointment-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 0 24px 0;
}

.appointment-description {
  color: #565C66;
  margin: 0;
}

.appointment-wrapper {
  width: 420px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  background-color: #FCFCFC;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment-form .info {
  display: none;
}

.appointment-form-address {
  grid-column: 1/-1;
}

.form-button {
  grid-column: 1/-1;
  width: auto;
  justify-self: center;
}

.form-description {
  width: 380px;
  margin: 0 0 32px 0;
}

.form-label {
  font-weight: 700;
  margin-bottom: 8px;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}


.field {
  margin: 0;
  padding: 14px 16px;
  font: inherit;
  background: #FFFFFF;
  border: none;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
}

.field:hover {
  outline: 1px solid #2D3440;
}

.field:focus {
  outline: 2px solid #2D3440;
}

.field:invalid {
  outline: 1px solid #EA5454;
}

.field:focus:invalid {
  outline: 2px solid #EA5454;
}

.field:disabled {
  background: #E7E7E7;
  outline: 1px solid #B9B9B9;
}

.field::placeholder {
  color: #B9B9B9;
}

/*tooltip*/

.tooltip {
  margin-top: 4px;
  margin-left: 5px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
}

.tooltip-text {
  background-color: #FCFCFC;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border: 1px solid #B9B9B9;
  border-radius: 1px;
  position: absolute;
  bottom: 100%;
  color: #2D3440;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  padding: 10px 15px;
  left: 50%;
  transform: translateY(50%) translateX(10px);
  width: 160px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}


/*contacts*/

.contacts {
  background-color: #FCFCFC;
  border-radius: 16px;
  padding: 64px;
  background-image: url("../assets/background-big.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contacts-wrapper {
  width: 263px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  background-color: #FCFCFC;
}

.contacts-title {
  margin: 0 0 12px 0;
}

.contacts-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px 0;
}

.contacts-phone {
  color: #2D3440;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.contacts-time-description {
  line-height: 20px;
  margin: 0 0 32px 0;
}

/*footer*/

.main-footer {
  padding: 48px 0 56px 0;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}

.footer-social {
  width: 140px;
}

.useful-links-list {
  width: 356px;
  margin-left: 300px;
  display: flex;
}

.useful-links-column {
  list-style: none;
  margin: 0;
  padding: 0;
}

.useful-links-column:first-child {
  margin-right: 24px;
}

.useful-links-item {
  margin: 0 0 8px 0;
}

.useful-links-link {
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
}

.useful-links-link:hover, .useful-links-link:focus {
  color: #FF2F64;
}

.about {
  width: 193px;
  margin-left: auto;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

/*catalog*/

.main-inner {
  font-size: 14px;
  line-height: 20px;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 0 40px 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}


.breadcrumbs-item::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 5px;
  right: -20px;
  display: inline-block;
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/chevrons-right.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

/*filter*/

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter {
  width: 807px;
  margin-bottom: 48px;
}

.filter-wrapper {
  display: flex;
}

.filter-wrapper:first-child {
  margin-bottom: 16px;
}

.catalog-filter-group {
  margin-right: 24px;
}

.catalog-filter-title {
  margin-bottom: 8px;
  margin-left: 16px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 8px 32px;
  width: 187px;
  height: 36px;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  border-radius: 20px;
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  cursor: pointer;
}

.filter-button:hover {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-button:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.filter-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #FCFCFC;
}


/*range*/
.price-group {
  width: 196px;
}

.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 36px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  color: #2D3440;
  text-align: center;
  background-color: transparent;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 10px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #2D3440;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-2px) translateY(-2px);
  height: 4px;
  width: 4px;
  background-color: #FCFCFC;
  border-radius: 50%;
}

.range-toggle:hover {
  background-color: #FCFCFC;
}

.range-toggle:hover:before {
  background: #2D3440;
}

.range-toggle:focus {
  border: 2px solid #2D3440;
}

.range-toggle:active:before {
  background: #2D3440;
}

.toggle-min {
  top: -6px;
  left: -8px;
}

.toggle-max {
  top: -6px;
  right: -8px;
}

/*sugar and filler lists*/

.sugar-list, .filler-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 16px 0 0;
  height: 36px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  left: 16px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #2D3440;
}

.filler-list .control-mark {
  border-radius: 3px;
}

.control:hover .control-mark {
  border: 1px solid #FCFCFC;
}

.control:disabled .control-mark{
  border: 1px solid #565C66;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  top: 6px;
  right: -1px;
  border-radius: 2px;
  background-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(-45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  top: 8px;
  right: 8px;
  transform: rotate(45deg);
  width: 6px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #2D3440;
  border-radius: 50%;
}

.control:hover .control-input[type="checkbox"]:checked + .control-mark::before,
.control:hover .control-input[type="checkbox"]:checked + .control-mark::after,
.control:hover .control-input[type="radio"]:checked + .control-mark::before{
  background-color: #FCFCFC;
}

.control:disabled .control-input[type="checkbox"]:checked + .control-mark::before,
.control:disabled .control-input[type="checkbox"]:checked + .control-mark::after,
.control:disabled .control-input[type="radio"]:checked + .control-mark::before {
  background-color: #565C66;
}

/*sort*/
.select {
  display: flex;
  align-items: center;
  width: 196px;
  height: 36px;
}


.select-control {
  width: 100%;
  padding: 8px 16px;
  font: inherit;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  border: none;
  color: #2D3440;
  background-image: url("../assets/icons/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
  outline: none;
}

/*pagination*/

.pagination-wrapper {
  display: flex;
  padding: 57px 0 81px 0;
}

.pagination-show-more {
  margin-left: 494px;
}

.pagination {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #2D3440;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination-link:not(:last-child) {
  margin-right: 2px;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.pagination-current {
  background-color: #FCFCFC;
}

.pagination-prev, .pagination-next {
  margin: 0 10px;
}

/*modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-feedback {
  width: 442px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../assets/icons/close-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0 0 32px 0;
}

.comment-field {
  height: 112px;
}

.feedback-form .field-group {
  margin: 0 0 16px 0 ;
}

.feedback-button {
  margin-top: 16px;
  margin-left: 284px;
}
